$lightGreen: rgb(16, 243, 16);
$mediumGreen: rgb(15, 165, 15);
$darkGreen: green;
$backgroundGrey: rgb(236, 235, 235);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  // background-color: $backgroundGrey;
  // color: rgb(228, 225, 225);
  font-weight: 400;
  line-height: 1.7;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  background-color: rgb(247, 247, 247);
}
@keyframes movesInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }
  80% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes movesInRight {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }
  80% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@mixin image {
  position: absolute;
  max-width: 55%;
  z-index: 1;
  &:hover {
    transform: scale(1.3) translateY(-0.2rem);
    z-index: 10;
    border: 0.8rem solid $lightGreen;
    padding: 1rem;
  }
}

@mixin card {
  max-width: 22%;
  flex: 1;
  background-color: rgba(252, 250, 151, 0.753);
  font-size: 0.7rem;
  max-height: 100%;
  text-align: center;
  .icon {
    font-size: 2.7rem;
    display: inline-block;
    background-image: linear-gradient(to right, $lightGreen, $darkGreen);
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  &:hover {
    transform: translateY(-1rem);
  }
}

@mixin complicated {
  flex: 1;
  // box-shadow: 2px 2px 10px grey;
  max-width: 30%;

  transition: all 1s ease;
  perspective: 150rem;

  &-front {
    color: rgb(49, 49, 49);
    min-height: 70vh;
    perspective: 150rem;
    transition: all 1s ease;
    box-shadow: 2px 2px 10px grey;
    &-img {
      background-blend-mode: screen;
      min-height: 31vh;
      background-size: cover;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      margin-bottom: 2rem;
    }
    &-heading {
      &-one {
        font-size: 1.5rem;
        font-weight: 100;
        color: white;
        text-align: right;
        position: absolute;
        top: 8rem;
        right: 1rem;
        width: 75%;
        &-span {
          padding: 0.5rem 1.3rem;
          box-decoration-break: clone;
          // margin-bottom: 1rem;
        }
      }
    }
    &-content {
      // background-color: violet;
      max-width: 75%;
      margin: 0 auto;
      text-align: center;
      p {
        margin: 0.5rem;
      }
    }
  }
  &-back {
    color: white;
    min-height: 70vh;
    transform: rotateY(180deg);
    perspective: 150rem;
    transition: all 1s ease;
    box-shadow: 2px 2px 10px grey;
    // display: none;
    position: absolute;
    backface-visibility: hidden;
    top: 0%;
    min-width: 100%;
    &-content {
      // background-color: yellow;
      max-width: 60%;
      margin: 0 auto;
      margin-top: 35%;
      min-height: 40vh;
      text-align: center;
      position: relative;
      h1 {
        font-weight: 100;
      }
      p {
        font-size: 3rem;
        font-weight: 100;
        margin-top: 0.3rem;
      }
      &-link {
        margin-top: 6rem;
        // position: absolute;
        // top: 50%;
        &-one {
          color: black;
          background-color: white;
          border-radius: 20px;
          padding: 0.8rem 2.7rem;
          text-decoration: none;
        }
        &:hover {
          transform: translateY(-0.2rem);
        }
      }
    }
  }
  &:hover &-front {
    // display: none;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
  }
  &:hover &-back {
    // position: absolute;
    // min-width: 100%;
    // top: 0%;
    // display: block;
    transform: rotateY(0deg);
  }
}

.header {
  // width: 100%;
  min-height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba(16, 243, 16, 0.534),
      rgba(0, 128, 0, 0.589)
    ),
    url(/img/hero.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &-logo {
    position: absolute;
    top: 5%;
    left: 2.5%;
    &-one {
      height: 45px;
    }
  }
  &-one {
    position: absolute;
    // width: 60%;
    // top: 35%;
    // left: 20%;
    // right: 20%;
    // text-align: center;
    // margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-heading {
      text-align: center;
      // background-color: black;
      padding-left: 1.7rem;
      letter-spacing: 3.5rem;
      color: white;
      font-size: 1.5rem;
      font-weight: 700;
      animation-name: movesInLeft;
      animation-duration: 1s;
    }
    &-para {
      // background-color: rgb(80, 90, 90);
      letter-spacing: 1.2rem;
      font-size: 1.4rem;
      text-align: center;
      color: white;
      padding-bottom: 3rem;
      animation-name: movesInRight;
      animation-duration: 1s;
    }
    &-link {
      // background-color: greenyellow;
      text-align: center;
      &:hover {
        transform: translateY(-0.2rem);
      }
      &:active {
        transform: translateY(0.1rem);
      }
      &-one {
        color: black;
        text-decoration: none;
        border: 1px solid grey;
        background-color: white;
        padding: 0.7rem 3rem;
        border-radius: 20px;
        // text-align: center;
        &:hover {
          // background-color: $lightGreen;
          box-shadow: 0px 2px 5px black;
        }
        &:active {
          // background-color: $darkGreen;
          box-shadow: none;
          // color: white;
        }
      }
    }
  }
}
.section {
  color: rgb(82, 81, 81);
  &-one {
    // background-color: yellow;
    max-width: 80%;
    margin: 0 auto;
    &-heading {
      background-image: linear-gradient(to right, $lightGreen, $darkGreen);
      max-width: 60%;
      color: transparent;
      -webkit-background-clip: text;
      text-align: center;
      margin: 3rem auto 2rem auto;
      font-size: 1.1rem;
      &:hover {
        transform: skewY(2deg) skewX(15deg);
        text-shadow: 0.5rem 0.1rem 0.2rem rgba(0, 0, 0, 0.123);
      }
    }
    &-main {
      // background-color: violet;
      display: flex;
      justify-content: space-between;

      &-para {
        // background-color: cadetblue;
        // padding: 1rem auto 3rem auto;
        // margin-top: 2rem;
        margin-right: 2rem;
        flex: 1;
        &-para-one {
          margin: 1rem 0 1.5rem 0;
          font-weight: 100;
        }
        &-para-two {
          margin: 1rem 0 1.5rem 0;
          font-weight: 100;
        }
        &-link {
          text-decoration: none;
          color: $mediumGreen;
          font-size: 1.1rem;
          border-bottom: 2px solid $mediumGreen;
          padding: 5px;
          &:hover {
            background-color: $mediumGreen;
            color: white;
          }
        }
      }
      &-img {
        // background-color: chocolate;
        flex: 1;
        position: relative;
        &-one {
          @include image;
        }
        &-two {
          @include image;
          top: 13%;
          right: 5%;
        }
        &-three {
          @include image;
          top: 40%;
          left: 20%;
        }
        &-img:hover &-img:not(:hover) {
          transform: scale(0.8);
        }
      }
    }
  }
}

.section-two {
  background-image: linear-gradient(
      to right,
      rgba(16, 243, 16, 0.651),
      rgba(0, 128, 0, 0.582)
    ),
    url(/img/nat-4.jpg);
  min-height: 80vh;
  background-size: cover;
  transform: skewY(-7deg);
  &-cards {
    // background-color: burlywood;
    display: flex;
    max-width: 80%;
    margin: 8rem auto;
    padding-top: 10%;
    transform: skewY(7deg);
    justify-content: space-between;
    p {
      margin: 0.6rem 2rem;
      font-size: 0.87rem;
    }
    &-one {
      // background-color: coral;
      @include card;
    }
    &-two {
      // background-color: cyan;
      @include card;
    }
    &-three {
      // background-color: coral;
      @include card;
    }
    &-four {
      // background-color: cyan;
      @include card;
    }
  }
}
.section-three {
  max-width: 80%;
  margin: 7rem auto;
  // background-color: yellow;
  &-heading {
    max-width: 45%;
    text-align: center;
    // display: inline-block;
    align-items: center;
    margin: 0 auto;
    &-header {
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(to right, $lightGreen, $darkGreen);
      letter-spacing: 0.3rem;
      font-size: 1.7rem;
      margin-bottom: 1.5rem;
      &:hover {
        transform: skewY(3deg) skewX(15deg);
      }
    }
  }
  &-trip {
    display: flex;
    justify-content: space-between;
    &-one {
      @include complicated;
      &-front {
        &-img {
          background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
            url(/img/nat-5.jpg);
        }
        &-heading {
          // background-color: cadetblue;
          &-one {
            // background-color: crimson;
            &-span {
              background-image: linear-gradient(
                to right bottom,
                #ffbb00cb,
                #ff7830c5
              );
            }
          }
        }
        &-content {
          // background-color: dodgerblue;
        }
      }
      &-back {
        // background-image: linear-gradient(to right bottom,orange,rgb(250, 93, 36));
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
      }
    }

    &-two {
      @include complicated;
      &-front {
        &-img {
          background-image: linear-gradient(
              to right bottom,
              $lightGreen,
              $darkGreen
            ),
            url(/img/nat-6.jpg);
        }
        &-heading {
          // background-color: cadetblue;
          &-one {
            // background-color: crimson;
            &-span {
              background-image: linear-gradient(
                to right bottom,
                rgba(16, 243, 16, 0.829),
                rgba(0, 128, 0, 0.829)
              );
            }
          }
        }
        &-content {
          // background-color: dodgerblue;
        }
      }
      &-back {
        background-image: linear-gradient(
          to right bottom,
          $lightGreen,
          $darkGreen
        );
      }
    }

    &-three {
      @include complicated;
      &-front {
        &-img {
          background-image: linear-gradient(to right bottom, blue, indigo),
            url(/img/nat-7.jpg);
        }
        &-heading {
          // background-color: cadetblue;
          &-one {
            // background-color: crimson;
            &-span {
              background-image: linear-gradient(
                to right bottom,
                rgba(0, 0, 255, 0.829),
                rgba(76, 0, 130, 0.842)
              );
            }
          }
        }
        &-content {
          // background-color: dodgerblue;
        }
      }
      &-back {
        background-image: linear-gradient(to right bottom, blue, indigo);
        // background-image: linear-gradient(to right bottom,#2998ff,#5643fa);
      }
    }
  }
  &-button {
    width: 40%;
    margin: 0 auto;
    // background-color: yellowgreen;
    // align-items: center;
    text-align: center;
    margin-top: 3.4rem;
    &-one {
      color: white;
      background-image: linear-gradient(
        to right bottom,
        $lightGreen,
        $darkGreen
      );
      padding: 1rem 1.5rem;
      border-radius: 20rem;
      // align-items: center;
      // text-align: center;
      text-decoration: none;
      font-size: 1.1rem;
    }
    &:hover {
      transform: translateY(-0.2rem);
    }
  }
}
@mixin review {
  transform: skewX(15deg);
  color: rgb(7, 7, 7);
  background-color: rgba(253, 253, 253, 0.425);
  box-shadow: 0 3px 7px rgba(94, 93, 93, 0.877);
  &-skew {
    transform: skewX(-15deg);
    display: flex;
    &-head {
      flex: 2;
      clip-path: circle(3.5rem);
      // shape-outside:circle(3.5rem);
      // background-color: rgb(197, 219, 117);
      background-size: cover;
      background-position: center;
    }
    &-review {
      flex: 7;
      margin: 1.5rem 0.7rem;
    }
  }
}

.section-four {
  background-image: url(/img/nat-5.jpg);
  background-size: cover;
  // opacity: .4;
  padding-bottom: 2rem;
  padding-top: 2rem;
  &-heading {
    &-one {
      background-image: linear-gradient(to right, $lightGreen, $darkGreen);
      max-width: 40%;
      margin: 0 auto;
      // display: inline-block;
      text-align: center;
      font-size: 1.6rem;
      // font-weight: 00;
      -webkit-background-clip: text;
      color: transparent;
    }
    &:hover {
      transform: skewY(2deg) skewX(15deg);
    }
  }
  &-content {
    max-width: 60%;
    // background-color: turquoise;
    margin: 0 auto;
    &-one {
      margin: 2rem 0 3.5rem 0;
      // background-color: rgb(255, 255, 255)

      @include review;
      &-skew {
        &-head {
          background-image: url(/img/nat-8.jpg);
        }
        &-review {
        }
      }
    }
    &-two {
      @include review;
      margin-bottom: 3.5rem;
      &-skew {
        &-head {
          background-image: url(/img/nat-9.jpg);
        }
        &-review {
        }
      }
    }
  }
}
.section-five {
  background-image: linear-gradient(to right, $lightGreen, $darkGreen);
  min-height: 90vh;
  padding-top: 15vh;

  &-container {
    max-width: 80%;
    margin: 0 auto;
    background-image: url(/img/nat-10.jpg);
    min-height: 60vh;
    background-size: cover;
    // position: relative;
    &:hover {
      transform: scale(1.002);
    }
    &-booking {
      background-color: rgba(255, 255, 255, 0.699);
      min-height: 60vh;
      max-width: 80%;
      // position: absolute;
      clip-path: polygon(0 0, 0 100%, 76vh 100%, 90vh 0);
      &-header {
        // background-color: yellow;
        min-height: 12vh;
        padding-top: 5vh;
        h1 {
          background-image: linear-gradient(to right, $lightGreen, $darkGreen);
          margin-left: 5vh;
          display: inline-block;
          -webkit-background-clip: text;
          color: transparent;
          font-size: 1.6rem;
          &:hover {
            transform: skewY(2deg) skewX(15deg);
          }
        }
      }
      &-name {
        margin-left: 5vh;
        background-color: rgb(16, 243, 16);
        ul {
          input {
            padding: 0.6rem 1 rem;
          }
          li {
            list-style: none;
            margin-bottom: 3rem;
          }
        }
      }
      &-link {
        margin-left: 5vh;
        // background-color: palegreen;
        margin-top: 10rem;

        &-one {
          text-decoration: none;
          color: white;
          background-image: linear-gradient(to right, $lightGreen, $darkGreen);
          border-radius: 40px;
          padding: 0.6rem 1rem;
        }
      }
    }
  }
}
.footer {
  background-color: rgb(51, 51, 51);
  color: white;
  &-logo {
    max-width: 30%;
    margin: 0 auto;
    // background-color: white;
    text-align: center;
    padding-top: 2rem;
    &-img {
      height: 20vh;
    }
  }
  &-container {
    padding-top: 3rem;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    // background-color: seagreen;
    justify-content: space-between;
    padding-bottom: 4rem;
    &-one {
      flex: 1;
      // background-color: sandybrown;
      max-width: 49%;
      ul {
        display: flex;
        padding-top: 1rem;
        li {
          list-style: none;
          flex: 1;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
    &-two {
      flex: 1;
      // background-color: peru;
      max-width: 45%;
      p {
        padding-top: 1rem;
      }
    }
  }
}

.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: white;
    height: 2.5rem;
    width: 2.5rem;
    position: fixed;
    top: 3.5rem;
    right: 3.5rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
  }

  &__background {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    position: fixed;
    top: 3.5rem;
    right: 3.5rem;
    background-image: radial-gradient($lightGreen, $darkGreen);
    z-index: 1000;

    transition: all 0.3s;

    // transform: scale(80);
  }

  &__nav {
    height: 100vh;
    width: 0%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    // background-color: red;
    opacity: 0;
    // transition: opacity .1s;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    // background-color: pink;
  }

  &__item {
    // min-width:70vh;
    // display: block;

    margin-top: 1rem;
  }

  &__link {
    display: inline-block;
    &:link,
    &:visited {
      text-decoration: none;
      color: white;
      // background-color: black;
      font-size: 1.8rem;
      // min-width:35vh;
      font-weight: 100;
      // margin: 2px;
      text-transform: uppercase;
      padding: 0.5rem 1rem;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        white 50%
      );
      background-size: 220%;
      transition: all 0.4s;
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $lightGreen;
      transform: translateX(1rem);
    }
  }
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    // transform: scale(80);
    opacity: 1;
    width: 100%;
  }


  &__icon {
    position: relative;
    margin-top: 1.1rem;
    &,
    &:before,
    &:after {
      width: 1.42rem;
      height: 2px;
      background-color: #333;
      display: inline-block;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
    }
    &::before {
      top: -0.5rem;
    }
    &::after {
      top: 0.5rem;
    }
  }
  &__button:hover &__icon::before {
    top: -0.6rem;
  }
  &__button:hover &__icon::after {
    top: 0.6rem;
  }
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon:before {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon:after {
    top: 0;

    transform: rotate(-135deg);
  }  
}
